<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.agentgui" sequenceNumber="38">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.0.v20170531-1133"/>
<unit id="org.eclipse.platform.sdk" version="4.7.0.I20170612-0950"/>
<unit id="org.eclipse.rcp.feature.group" version="4.7.0.v20170612-1255"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.7.0.v20170612-1255"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
<location id="org.agentgui" path="D:\20 GIT\01_AgentGui-OSGI\eclipseProjects" type="Feature"/>
</locations>
</target>
