<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.agentgui.PlugInApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.agentgui.core.application"
            name="Agent.Workbench">
         <property
         		name="applicationXMI"
         		value="org.agentgui.core/Application.e4xmi">
         </property>
         <property
               name="windowImages"
               value="icons/awb16.png,icons/awb32.png,icons/awb48.png,icons/awb64.png,icons/awb128.png,icons/awb256.png">
         </property>
         <property
               name="appName"
               value="Agent.Workbench">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutImage"
               value="icons/awb128.png">
         </property>
         <property
               name="aboutText"
               value="Agent Workbench (AWB), formerly named Agent.GUI is an Eclipse based RCP application that enables to configure and start Agents or Multi-Agent systems in various ways.">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
    <extension id="org.agentgui.MainMenuModelProcessor"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            class="org.agentgui.ApplicationModelMainMenuProcessor"
            beforefragment="true">
      </processor>
   </extension>
   <extension
         id="org.agentgui.core.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="ApplicationMenues.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.agentgui.gui.swt.project.ProjectEditor"
            id="org.agentgui.gui.swt.project.ProjectEditor"
            name="ProjectEditor">
      </editor>
   </extension>
  
   <extension-point id="org.awb.swing.mainWindowExtension" name="Agent.Workbench Main Window Extension" schema="schema/org.awb.swing.mainWindowExtension.exsd"/>
   <extension-point id="org.awb.env.graphToolbarExtension" name="Agent.Workbench Graph Environemt Toolbar Extension" schema="schema/org.awb.env.graphToolbarExtension.exsd"/>
   <extension-point id="org.awb.project.plugin" name="Agent.Workbench Project Plugin" schema="schema/org.awb.projectPlugin.exsd"/>

</plugin>
