/bin/
/resServer/
/resDownload/
/build/
/doc/api
.settings/
/properties/agentgui.ini
APDescription.txt
AgentGUINode.bin
MTPs-Main-Container.txt
/ProductExport/
/log/
/target/
/jetty/
/.polyglot.META-INF
