<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.awb.env.maps"
         name="MapsTools"
         point="org.awb.env.graphToolbarExtension">
      <graphToolbarExtensionClient
            class="org.awb.env.maps.NetworkModelToolbarExtension">
      </graphToolbarExtensionClient>
   </extension>

</plugin>
