<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="de.enflexit.logging.appender.AwbConsoleAppender">
    	<encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{48} - %msg%n</pattern>
		</encoder>
	</appender>
	  
    <appender name="FILE_APPENDER" class="de.enflexit.logging.appender.AwbRollingFileAppender">
	    <encoder>
		<!--   <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{48} - %msg</pattern> -->
	    <pattern>%msg%n</pattern>
		</encoder>	
		<!--  Name of the active log file -->
		<file>${LOG_DIR}/Agent.Workbench.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    		<!-- Create folders for every month, rollover daily (midnight) -->
    		<fileNamePattern>${LOG_DIR}/%d{yyyy-MM, aux}/Agent.Workbench-%d{yyyy-MM-dd}.log</fileNamePattern>
    		<!-- Keep 30 units worth of logs, unit is defined by the last digits of file name pattern -->
    		<maxHistory>30</maxHistory>
    		<!-- If combined log size > cap, logs will be deleted at roll over regardless of maxHistory -->
    		<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
    </appender>
		
	<root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE_APPENDER" />
    </root>
    
    <logger name="de.enflexit.common.p2" level="error" />
	
	<logger name="de.enflexit.awb.core" level="error" />
	
	<logger name="de.enflexit.awb.ws.webApp" level="error" />
	
	<logger name="de.enflexit.db" level="warn" />
	<logger name="de.enflexit.db.hibernate" level="error" />
	
	<logger name="de.enflexit.db.derby" level="error" />
	<logger name="de.enflexit.db.mariaDB" level="error" />
	<logger name="de.enflexit.db.mySQL" level="error" />
	<logger name="de.enflexit.db.postgres" level="error" />
	
	<logger name="de.enflexit.eom.database" level="error" />


	<logger name="org.eclipse.jetty.session" level="error" />

	<logger name="de.enflexit.oshi" level="error" />
	
  	<logger name="org.hibernate" level="error" />
	<logger name="org.hibernate.SQL" level="error" />
	<logger name="org.hibernate.type.descriptor.sql" level="error" />
	<logger name="org.hibernate.pretty" level="error" />
	<logger name="org.hibernate.cache" level="error" />
	<logger name="org.hibernate.hql.internal.ast.AST" level="error" />
	<logger name="org.hibernate.tool.hbm2ddl" level="error" />
	<logger name="net.sf.ehcache" level="error" />
	<logger name="org.jboss" level="error" />
   
	<logger name="com.mchange.v2" level="error" />

</configuration>