[Unit]
Description=AgentGUI Background Service
Documentation=http://agentgui.org/
Wants=network-online.target
After=network-online.target
Requires=mysql.service

[Service]
Type=simple
User=agentgui
Group=agentgui
GuessMainPID=yes
WorkingDirectory=/opt/agentgui
#EnvironmentFile=/etc/default/agentgui
ExecStart=/usr/bin/java -jar /opt/agentgui/AgentGui.jar
ExecStop=/bin/rm /opt/agentgui/Shutdown_ServerMaster_$MAINPID.txt
Restart=on-failure

[Install]
WantedBy=multi-user.target
