<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="org.agentgui.target" sequenceNumber="70">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.0.v20180515-1348"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.14.0.v20180518-2029"/>
		<unit id="org.eclipse.rcp.feature.group" version="4.8.0.v20180611-0656"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.9"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="ch.qos.logback.classic" version="1.1.2.v20171220-1825"/>
		<unit id="ch.qos.logback.classic.source" version="1.1.2.v20171220-1825"/>
		<unit id="ch.qos.logback.core" version="1.1.2.v20160208-0839"/>
		<unit id="ch.qos.logback.core.source" version="1.1.2.v20160208-0839"/>
		<unit id="ch.qos.logback.slf4j" version="1.1.2.v20160301-0943"/>
		<unit id="ch.qos.logback.slf4j.source" version="1.1.2.v20160301-0943"/>
		<unit id="org.slf4j.api" version="1.7.10.v20170428-1633"/>
		<unit id="org.slf4j.api.source" version="1.7.10.v20170428-1633"/>
		<unit id="org.slf4j.apis.jcl" version="1.7.10.v20160208-0839"/>
		<unit id="org.slf4j.apis.jcl.source" version="1.7.10.v20160208-0839"/>
		<!--<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180606145124/repository"/>-->
		<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="3.14.0.v20180515-2149"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.9"/>
	</location>
</locations>
</target>