<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.agentgui.project.plugin" name="org.agentgui.project.plugin" schema="schema/org.agentgui.project.plugin.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.agentgui.PlugInApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.agentgui.core.application"
            name="Agent Workbench">
         <property
         		name="applicationXMI"
         		value="org.agentgui.core/Application.e4xmi">
         </property>
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png">
         </property>
         <property
               name="appName"
               value="Agent Workbench">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.agentgui.core.application"
            name="Agent.GUI">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="appName"
               value="Agent.GUI">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="org.agentgui.preferences.pages.DummyPage"
            id="org.agentgui.core.page.dummypage"
            name="DummyPage">
      </page>
      <page
            class="org.agentgui.preferences.pages.PreferencePageProgramStart"
            id="org.agentgui.core.page.programstart"
            name="Program Start">
      </page>
   </extension>

</plugin>
