<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.awb.swing.mainWindowExtension">
      <mainWindowExtensionClient
            class="de.enflexit.awb.timeSeriesDataProvider.gui.TimeSeriesDataProviderUiIntegration">
      </mainWindowExtensionClient>
   </extension>

</plugin>
